/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "susy";
@import "breakpoint";
@import "compass";

/* ***************************susy*********************************** */
$susy: (
  math: fluid,
  output: float,
  gutter-position: after,
  container: 1024px,
  columns: 12,
  gutters: .25,
	global-box-sizing: border-box,

  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  )
);
/* ****************************************************************** */

/* typography */
@font-face {
    font-family: 'Andika';
    src: url( '../fonts/andika-r.eot');
    src: local('Andika'), url( '../fonts/andika-r.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andika-r.woff') format('woff'),
         url('../fonts/andika-r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Scratch';
    src: url("../fonts/Scratch.ttf");
}

@font-face {
    font-family: 'My';
    src: url( '../fonts/FrederickatheGreat-Regular.ttf');
}
/* end of typography */

/* ********************use variable*******************/
$suka_green: #06FF00;
/* ********************end use variable***************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	margin: 20px auto;
	background: url('../img/background.jpg') #0E0E0E;
	font-family: 'Andika';
	color: #fff;
	a, a:hover {text-decoration: none;}

}

p {
	text-align: justify;
}

#container {
	@include container;
	@include clearfix;
	padding-top: 5px;
	padding-bottom: 5px;
	//background-color: #FAF8F8;
}

#header {
		@include span(12);
		@include clearfix;
		border-bottom: 2px solid $suka_green;

		#logo {
			@include span(12);
			@include clearfix;
			margin-left: 10px;
			height: 105px;
			background: url('../img/logo2.png') no-repeat;
			h1 {
				margin-left: 120px;
				margin-top: 10px;
				font-family: 'My';
				span{
					color: $suka_green;
					font-family: 'Scratch';
				}
			}
			h2 {
				margin-left: 200px;
				margin-bottom: 10px;
				font-family: 'My';
				font-size: 1.2em;
			}
		}

		#contacts {
			@include span(12);
			@include clearfix;
			h2 {
				float: right;
				clear: both;
				margin-right: 100px;
				font-size: 0.8em;
				font-family: 'My';
			}
			h3 {
				float: right;
				clear: both;
				font-size: 0.8em;
				margin: 0 10px 10px 0;
			}
		}
		#social{
		@include span(8);
		@include push(2);
		float: none;
		display: table;
		width: auto;
		margin: 10px auto;
		.icon {
			width: 50px;
			height: 50px;
			display: inline-block;
			@include border-radius(5px);
			a{
				display: block;
				height:50px;
			}
		}
		.vk{
			background: url('../img/vk_gray.png') no-repeat;
		}
		.vk:hover{
			background: url('../img/vk.png') no-repeat;
		}
		.odnoklassniki{
			background: url('../img/odnoklassniki_gray.png') no-repeat;
		}
		.odnoklassniki:hover{
			background: url('../img/odnoklassniki.png') no-repeat;
		}
		.instagramm{
			background: url('../img/instagram_gray.png') no-repeat;
		}
		.instagramm:hover{
			background: url('../img/instagram.png') no-repeat;
		}
	}
}

#header {
		@include breakpoint(470px){
		@include span(12);
		@include clearfix;
		border-bottom: 2px solid $suka_green;

		#logo {
			@include span(8 of 12);
			@include clearfix;
			margin-left: 10px;
			height: 105px;
			background: url('../img/logo2.png') no-repeat;
			h1 {
				margin-left: 120px;
				margin-top: 10px;
				font-family: 'My';
				span{
					color: $suka_green;
				}
			}
			h2 {
				margin-left: 180px;
				margin-bottom: 10px;
				font-family: 'My';
				font-size: 1.2em;
			}
		}

		#contacts {
			@include span(8 of 12);
			@include clearfix;
			h2 {
				float: right;
				clear: both;
				margin-right: 90px;
				font-size: 0.8em;
				font-family: 'My';
			}
			h3 {
				float: right;
				clear: both;
				font-size: 0.8em;
				margin: 0 10px 10px 0;
			}
		}
		#social{
		@include span(4 of 12 last);
		@include push(2);
		float: none;
		display: table;
		width: auto;
		margin: 10px 20px 5px auto;
		.icon {
			width: 50px;
			height: 50px;
			float: right;
			clear: both;
			display: block;
			@include border-radius(5px);
		}
	}
	}
}

#header {
	@include breakpoint(610px){
		@include span(12);
		@include clearfix;
		border-bottom: 2px solid $suka_green;

		#logo {
			@include span(6);
			padding-left: 10px;
			height: 105px;
			background: url('../img/logo2.png') no-repeat;
			h1 {
				margin-left: 120px;
				margin-top: 20px;
				font-family: 'My';
				span{
					color: $suka_green;
				}
			}
			h2{
				margin-left: 170px;
				margin-bottom: 10px;
				font-family: 'My';
			}
		}

		#contacts {
			@include span(4.5);
			margin-top: 15px;
			margin-right: 0;
			
			h2 {
				float: right;
				clear: both;
				margin-right: 0;
				font-size: 0.8em;
				font-family: 'My';
			}
			h3 {
				float: right;
				clear: both;
				font-size: 0.8em;
				margin: 0;
			}
		}
		#social{
		@include span(1.5 last);
		//float: none;
		display: table;
		width: auto;
		margin: 10px auto;
		padding-right: 5px;
		.icon {
			width: 50px;
			height: 50px;
			float: right;
			clear: both;
			//display: inline-block;
			@include border-radius(5px);
		}
	}
	}
}
///////////////////////////////////////////
#header {
	@include breakpoint(715px){
		@include span(12);
		@include clearfix;
		border-bottom: 2px solid $suka_green;

		#logo {
			@include span(6);
			padding-left: 10px;
			height: 105px;
			background: url('../img/logo2.png') no-repeat;
			h1 {
				margin-left: 120px;
				margin-top: 20px;
				font-family: 'My';
				span{
					color: $suka_green;
				}
			}
			h2{
				margin-left: 210px;
				margin-bottom: 10px;
				font-family: 'My';
			}
		}

		#contacts {
			@include span(4.5);
			margin-top: 15px;
			margin-right: 0;
			
			h2 {
				float: right;
				clear: both;
				margin-right: 0;
				font-size: 1em;
				font-family: 'My';
			}
			h3 {
				float: right;
				clear: both;
				font-size: 1em;
				margin: 0;
			}
		}
		#social{
		@include span(1.5 last);
		//float: none;
		display: table;
		width: auto;
		margin: 10px auto;
		padding-right: 5px;
		.icon {
			width: 50px;
			height: 50px;
			float: right;
			clear: both;
			//display: inline-block;
			@include border-radius(5px);
		}
	}
	}
}

// for 320px

.menu {
	@include span(12);
	@include clearfix;

	ol, ul {
		list-style: none;
	}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

	#touch-menu {
		display: block;
		background: transparent;
		@include border-radius(5px);
		border: solid 2px $suka_green;
		margin-top: 10px;
		color: $suka_green;
		text-align: center;
	}

	#touch-menu:hover {
		background: #666;
	}

	.nav{
		display: none;
		@include border-radius(5px);
		border: solid 2px $suka_green;
	}

	.nav ul {
		list-style: none;
	}

	.nav li a{
		display: block;
		text-align: center;
		color: #fff;
	}

	.nav li a:hover {
 		background: #ccc;
 		color: #444;
 		text-align: center;
 		border-left: 10px solid  $suka_green;
 		border-right: 10px solid  $suka_green;
 	}
}

// for big screen

.menu {
	@include breakpoint(560px){
		@include span(8);
		@include push(2);

		ol, ul {
			list-style: none;
		}

		* {
			margin: 0;
			padding: 0;
			outline: none;
		}

		.nav{
			display: table;
			border: none;
			width: auto;
			margin: 0px auto;
			border-bottom: solid 2px $suka_green;
		}

		.nav ul {
			list-style: none;
		}

		.nav li {
			float: left;
			margin: 10px;
		}

		.nav li a{
			font-size: 20px;
			text-align: center;
			color: #fff;
		}

		.nav li a:hover {
	 		color: $suka_green;
	 		background: none;
	 		text-align: center;
	 		border-left: none;
	 		border-right: none;
	 	}

	 	#touch-menu {
			display: none;
		}
	}
}

.up{
	display: table;
	width: auto;
	margin: 5px auto;
	border: solid 2px $suka_green;
	@include border-radius(5px);
	padding: 0 5px 0 5px;
	a{
		color: #fff;
	}
	a:hover{
		color: #444;
	}
}

.up:hover{
	background: #ccc;
}

#slider{
	@include span(12);
	@include clearfix;
	margin-top: 20px;
	img{
		@include border-radius(5px);
	}
	.cycle-pager-active{
		background: $suka_green;
		@include border-radius(50%);
	}
}


#stock, #about, #quests, #adress,{
	@include span(10);
	@include push(1);
	@include clearfix;
}

#quests{
	.quest1{
		margin-top: 20px;
		@include span(12);
	}
	.quest2{
		margin-top: 0px;
		@include span(12);
		.up{
			display: table;
			margin-bottom: 20px;
		}
	}
	img{
		width: 100%;
		height:auto;
		@include border-radius(5px);
	}
}

#quests{
	.quest1{
		@include breakpoint(676px){
			margin-top: 20px;
			@include span(5 of 10);
		}
	}
	.quest2{
		@include breakpoint(676px){
			.up{
				display: none;
			}
			margin-top: 20px;
			@include span(5 of 10 last);
		}
	}
	img{
		width: 100%;
		height:auto;
		@include border-radius(5px);
	}
}




