/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "susy";
@import "breakpoint";
@import "compass";

/* ***************************susy*********************************** */
$susy: (
  math: fluid,
  output: float,
  gutter-position: after,
  container: 1024px,
  columns: 12,
  gutters: .25,
	global-box-sizing: border-box,

  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  )
);
/* ****************************************************************** */

/* typography */
@font-face {
    font-family: 'Andika';
    src: url( '../fonts/andika-r.eot');
    src: local('Andika'), url( '../fonts/andika-r.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andika-r.woff') format('woff'),
         url('../fonts/andika-r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Scratch';
    src: url( '../fonts/Sprite Graffiti Shadow.otf');
}
/* end of typography */

body {
	background: #ccc;
	font-family: 'Andika';
}

/* ********************use variable*******************/
$suka_green: #06FF00;
/* ********************end use variable***************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	margin: 20px auto;
	background: #B8B3B3 url('../img/cover_photo_291189_1426039340.png');
	font-family: 'Andika';
	color: #fff;
}

#container {
	@include container;
	@include clearfix;
	padding-top: 5px;
	padding-bottom: 5px;
	//background-color: #FAF8F8;
}

#header {
		@include span(12);
		@include clearfix;
		border-bottom: 2px solid $suka_green;

		#logo {
			@include span(12);
			@include clearfix;
			padding-left: 10px;
			height: 105px;
			background: url('../img/logo2.png') no-repeat;
			h1 {
				margin-left: 120px;
				margin-top: 10px;
				font-family: 'Scratch';
			}
			h2 {
				margin-left: 200px;
				margin-bottom: 10px;
				font-family: 'Scratch';
				font-size: 1em;
			}
		}

		#contacts {
			@include span(12);
			@include clearfix;
			//margin-top: 15px;
			h2 {
				font-size: 0.8em;
				margin-left: 10px;
			}
			h3 {
				font-size: 0.8em;
				margin-left: 170px;
			}
		}
}

#header {
	@include breakpoint(720px){
		@include span(12);
		@include clearfix;
		border-bottom: 2px solid $suka_green;
		padding-bottom: 20px;

		#logo {
			@include span(6);
			padding-left: 10px;
			height: 105px;
			background: url('../img/logo2.png') no-repeat;
			h1 {
				margin-left: 120px;
				margin-top: 40px;
				font-family: 'Scratch';
			}
			h2{
				margin-left: 170px;
				margin-bottom: 20px;
				font-family: 'Scratch';
			}
			a {
				color: #fff;
				text-decoration: none;
				font-size: 1em;
				margin-right: 20px;
				padding: 0 10px;
			}
		}

		#contacts {
			@include span(6 last);
			margin-top: 15px;
		}
	}
}